body {
    background-color: #d6ccc2;
    margin: 0;
    /* Supprime la marge par défaut du body */
}

.Ensemble {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}

.description {
    flex: 1;
    padding: 20px;
}

.description p {
    text-align: justify;
    margin-right: 20px;
}

.image {
    flex: 1;
    text-align: left;
    margin-right: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

.custom-button {
    background-color: #f5e1bf;
    /* Couleur de fond beige */
    color: #000;
    /* Couleur du texte en noir */
    padding: 10px 20px;
    /* Espacement interne du bouton */
    border: none;
    /* Supprime la bordure par défaut */
    border-radius: 10px;
    /* Bords arrondis */
    cursor: pointer;
    /* Curseur de type pointeur au survol */
    display: block;
    /* Permet au bouton de prendre toute la largeur disponible */
    margin: 10px auto;
    /* Centre le bouton et ajoute une marge en haut et en bas */
}

.custom-button:hover {
    background-color: #e0cba5;
    /* Change la couleur de fond au survol */
}