body {
  font-family: 'Dosis', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #dedbd2;
}

nav {
  width: calc(100% - 4cm); /* Largeur totale moins 2 cm de chaque côté */
  margin: 0 2cm; /* Marge de 2 cm de chaque côté */
  display: flex;
  justify-content: space-between;
  background-color: #dedbd2;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
}

nav a:hover {
  color: #dedbd2;
  background-color: #333;
}

section {
  display: flex;
  align-items: center;
  padding: 20px;
}

.intro {
  flex: 1;
  text-align: left;
  display: flex;
  justify-content:center;
  align-items: center;
}

.image-container {
  max-width: 300px;
  margin-right: 20px;
}

.image-container img {
  width: 100%;
  border-radius: 5px;
}

.text-container {
  max-width: 50%;
}

.content {
  flex: 2;
  text-align: left;
  padding-left: 20px;
}

.clickable-section {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background-color: #dedbd2;
  border-radius: 5px;
}

.Mon-nom {
  font-size: 30px;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Ajout de cette ligne pour centrer à gauche */
  text-align: left;
}

.image-container {
  max-width: 300px;
  margin-right: 20px;
}

.image-container img {
  width: 100%;
  border-radius: 5px;
}

.text-container {
  max-width: 50%;
}


